.generic-content-container {

    p {
        line-height: 1.28;
        margin: 1.8rem 0;

        @mixin atLarge {
            font-size: 1.1rem;
        }
    }

    p a {
        font-weight: 800;
    }

}